/* Header */
.header-baodam {
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif !important;
  text-align: center;
  padding: 20px 0;
  margin-top: 100px;
}

/* Menu */
.menu-baodam {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 15px 0; /* Khoảng cách giữa menu và image */
}

.menu-item-baodam {
  font-weight: bold;
  padding: 0 50px;
  cursor: pointer;
  margin: 0 10px; /* Khoảng cách giữa các mục menu */
  position: relative;
}

.menu-item-baodam a {
  text-decoration: none;
  color: #b7b7b7;
  transition: color 0.3s;
}

.menu-item-baodam a:hover {
  color: #000000;
}

.menu-item-baodam::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.menu-item-baodam:hover::after {
  background-color: rgb(0, 0, 0);
}

/* Image */
.image-baodam {
  display: block;
  object-fit: cover;
  text-align: center;
  padding: 20px 0;
}

.image-container-baodam {
  width: 100%; /* Chiều ngang bằng kích thước của viewport */
  overflow: hidden;
}

.image-container-baodam img {
  width: 100%;
  height: 660px;
  object-fit: cover;
}

.caption-baodam {
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.caption-baodam p {
  font-size: 27px;
  font-family: 'Times New Roman', Times, serif !important;
}

/* Row */
.row-baodam {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -150px;
}

.column-baodam {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

/* Right Column Content */
.right-column-content-baodam {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  text-align: justify;
}

/* Image Container 2 */
.image-container-baodam2 {
  text-align: center;
}

.image-container-baodam2 img {
  width: 60%;
  transform: rotate(90deg);
  transform-origin: left top;
  margin-left: 680px;
}

/* Caption */
.caption-baodam {
  margin-top: 20px;
  text-align: center;
}

/* Button */
.button-baodam {
  margin-top: 80px;
  width: 150px;
  text-align: left;
}

.button-baodam button {
  background-color: transparent;
  border: 2px solid #000000;
  color: #000000;
  padding: 10px 80px;
  width: auto;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.button-baodam button:hover {
  background-color: #000000;
  color: #ffffff;
}
